@font-face {
    font-family: 'MiFie-Website-Font';
    src: url('../fonts/MiFie-Website-Font.eot?7kyxez');
    src: url('../fonts/MiFie-Website-Font.eot?7kyxez#iefix') format('embedded-opentype'), url('../fonts/MiFie-Website-Font.ttf?7kyxez') format('truetype'), url('../fonts/MiFie-Website-Font.woff?7kyxez') format('woff'), url('../fonts/MiFie-Website-Font.svg?7kyxez#MiFie-Website-Font') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'MiFie-Website-Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-home:before {
    content: "\e900"
}

.icon-bank-card:before {
    content: "\e901"
}

.icon-envelope:before {
    content: "\e902"
}

.icon-mobile:before {
    content: "\e903"
}

.icon-borrow:before {
    content: "\e904"
}

.icon-investment:before {
    content: "\e905"
}

.icon-money:before {
    content: "\e906"
}

.icon-gift:before {
    content: "\e907"
}

.icon-settings:before {
    content: "\e908"
}

.icon-user:before {
    content: "\e909"
}

.icon-key:before {
    content: "\e90a"
}

.icon-user-o:before {
    content: "\e90b"
}

.icon-image:before {
    content: "\e90c"
}

.icon-lock:before {
    content: "\e90d"
}

.icon-mobile-o:before {
    content: "\e90e"
}

.icon-message:before {
    content: "\e90f"
}

.icon-phone:before {
    content: "\e910"
}

.icon-management:before {
    content: "\e911"
}

.icon-user-money:before {
    content: "\e912"
}

.icon-coin:before {
    content: "\e913"
}

.icon-pie:before {
    content: "\e914"
}

.icon-ie:before {
    content: "\e915"
}

.icon-router:before {
    content: "\e916"
}

.icon-security:before {
    content: "\e917"
}

.icon-team:before {
    content: "\e918"
}

.icon-files:before {
    content: "\e919"
}

.icon-pencil-square:before {
    content: "\e91a"
}

.icon-list:before {
    content: "\e91b"
}

.icon-user-phone:before {
    content: "\e91c"
}

.icon-text-ok:before {
    content: "\e91d"
}

.icon-protect:before {
    content: "\e91e"
}

.icon-folder:before {
    content: "\e91f"
}

.icon-check:before {
    content: "\e920"
}

.icon-information:before {
    content: "\e921"
}

.icon-calculator:before {
    content: "\e922"
}

.icon-ordered:before {
    content: "\e923"
}

.icon-pencil-text-o:before {
    content: "\e924"
}

.icon-security-o:before {
    content: "\e925"
}

.icon-telephone:before {
    content: "\e926"
}

.icon-hna:before {
    content: "\e927"
}

.icon-usd:before {
    content: "\e928"
}

.icon-cis:before {
    content: "\e929"
}

.icon-china-life:before {
    content: "\e92a"
}

.icon-safe360:before {
    content: "\e92b"
}

.icon-baidu:before {
    content: "\e92c"
}

.icon-insurance:before {
    content: "\e92d"
}

.icon-reuters:before {
    content: "\e92e"
}

.icon-picc:before {
    content: "\e92f"
}

.icon-union-pay:before {
    content: "\e930"
}

.icon-cfca:before {
    content: "\e931"
}

.icon-wechat:before {
    content: "\e932"
}

.icon-wechat-o:before {
    content: "\e933"
}

.icon-usd-barchart:before {
    content: "\e934"
}

.icon-left-arrow:before {
    content: "\e935"
}

.icon-money-bag:before {
    content: "\e936"
}

.icon-pay-square:before {
    content: "\e937"
}

.icon-footer-360:before {
    content: "\e938"
}

.icon-footer-chinanet:before {
    content: "\e939"
}

.icon-footer-icann:before {
    content: "\e93a"
}

.icon-footer-cfca:before {
    content: "\e93b"
}

.icon-footer-zx110:before {
    content: "\e93c"
}

.icon-footer-trade:before {
    content: "\e93d"
}

.icon-voice:before {
    content: "\e93e"
}

.icon-weibo:before {
    content: "\e93f"
}

.icon-book:before {
    content: "\e940"
}

.icon-service-o:before {
    content: "\e941"
}

.icon-service:before {
    content: "\e942"
}

.icon-mobile-2:before {
    content: "\e943"
}

.icon-right-arrow:before {
    content: "\e944"
}

.icon-logo:before {
    content: "\e945"
}

.icon-weijinsuo:before {
    content: "\e946"
}

.icon-footer-trust:before {
    content: "\e948"
}

.icon-icann:before {
    content: "\e94a"
}

.icon-industry:before {
    content: "\e94b"
}

.icon-cfca2:before {
    content: "\e949"
}

.icon-360:before {
    content: "\e947"
}

.icon-inquiry:before {
    content: "\e94d"
}

.icon-netChina:before {
    content: "\e94c"
}

.icon-trusted:before {
    content: "\e94e"
}

.icon-unionpay:before {
    content: "\e94f"
}

.icon-hand:before {
    content: "\e950"
}

.icon-lock2:before {
    content: "\e951"
}

.icon-capital:before {
    content: "\e952"
}

.icon-dollar:before,
.icon-dollar1:before,
.icon-dollar2:before {
    content: "\e953"
}

.icon-unionpaySquare:before {
    content: "\e954"
}

.icon-uniE955:before {
    content: "\e955"
}

.icon-uniE956:before {
    content: "\e956"
}

.icon-uniE957:before {
    content: "\e957"
}

.icon-borrower:before {
    content: "\e958"
}

.icon-security2:before {
    content: "\e959"
}

.icon-appointment:before {
    content: "\e95a"
}

.icon-purpose:before {
    content: "\e95b"
}

.icon-calculator2:before {
    content: "\e95c"
}

.icon-search:before {
    content: "\e95d"
}

.icon-downArrow:before {
    content: "\e95e"
}

.icon-entry:before {
    content: "\e95f"
}

.icon-approach:before {
    content: "\e960"
}

.icon-scope:before {
    content: "\e961"
}

.icon-institution:before {
    content: "\e962"
}

.icon-pencil:before {
    content: "\e963"
}

.icon-ok-o:before {
    content: "\e964"
}

.icon-warn:before {
    content: "\e965"
}

.icon-triangle:before {
    content: "\e966"
}

.icon-check:before {
    content: "\e967"
}

.icon-wrong:before {
    content: "\e968"
}

.icon-account:before {
    content: "\e969"
}

.icon-envelope-o:before {
    content: "\e96a"
}

.icon-invitation:before {
    content: "\e96b"
}

.icon-locked:before {
    content: "\e96c"
}

.icon-growing:before {
    content: "\e96d"
}

.icon-cost:before {
    content: "\e96e"
}

.icon-term:before {
    content: "\e96f"
}

.icon-perLimit:before {
    content: "\e970"
}

.icon-oriBorrower:before {
    content: "\e971"
}

.icon-refresh:before {
    content: "\e972"
}

.icon-product:before {
    content: "\e973"
}

.icon-income:before {
    content: "\e974"
}

.icon-unionPaySmall:before {
    content: "\e975"
}

.icon-calendar:before {
    content: "\e976"
}

.icon-package:before {
    content: "\e977"
}

.icon-leftLimit:before {
    content: "\e978"
}

.icon-great:before {
    content: "\e979"
}

.icon-shield:before {
    content: "\e97a"
}

.icon-legal:before {
    content: "\e97b"
}

.icon-authentication:before {
    content: "\e97c"
}

.icon-stock:before {
    content: "\e97d"
}

.icon-requirement:before {
    content: "\e97e"
}

.icon-validity:before {
    content: "\e97f"
}

.icon-cash:before {
    content: "\e980"
}

.icon-envelope2:before {
    content: "\e981"
}

.icon-rocket:before {
    content: "\e982"
}

.icon-squre-plus:before {
    content: "\e983"
}

.icon-squre-minus:before {
    content: "\e984"
}

.icon-circle-plus:before {
    content: "\e985"
}

.icon-circle-minus:before {
    content: "\e986"
}

.icon-home-m:before {
    content: "\e987"
}

.icon-person-m:before {
    content: "\e988"
}

.icon-loan-m:before {
    content: "\e989"
}

.icon-msg:before {
    content: "\e98a"
}

.icon-asset:before {
    content: "\e98b"
}

.icon-alarm-clock:before {
    content: "\e98c"
}

.icon-huaxing:before {
    content: "\e98d"
}

.icon-cunguan:before {
    content: "\e98e"
}

.icon-borrowRecords:before {
    content: "\e98f"
}

.icon-capitalSecurity:before {
    content: "\e990"
}

.icon-investmentRecord:before {
    content: "\e991"
}

.icon-transactionRecord:before {
    content: "\e992"
}

.icon-Bank-card:before {
    content: "\e98e"
}

.icon-Computer-account:before {
    content: "\e98f"
}

.icon-Investment:before {
    content: "\e990"
}

.icon-Mobile-account:before {
    content: "\e991"
}

.icon-Real-name-authentication:before {
    content: "\e992"
}

.icon-Recharge:before {
    content: "\e993"
}

.icon-Withdrawals:before {
    content: "\e994"
}

.icon-next:before {
    content: "\e995"
}

.icon-last:before {
    content: "\e996"
}

.icon-first:before {
    content: "\e997"
}

.icon-previous:before {
    content: "\e998"
}

.icon-qa:before {
    content: "\e999"
}

.icon-checkBox:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 2px
}

.check-box:checked+.icon-checkBox:before {
    content: "\e964";
    color: #576b7f;
    border: none
}
